.netrwhist

local/share/

config/calcurse/apts
config/calcurse/hooks
config/calcurse/keys
config/calcurse/notes
config/calcurse/todo
config/discord/
config/newsboat/history.cmdline
config/newsboat/history.search
config/newsboat/cache.db
config/newsboat/cache.db.lock
config/newsboat/queue
config/polybar/spotify
config/ranger/__pycache__/
config/ranger/plugins/__pycache__/
