.netrwhist

local/share/

config/discord/

newsboat/history.cmdline
newsboat/history.search
newsboat/cache.db
newsboat/cache.db.lock
newsboat/queue

config/ranger/__pycache__/
config/ranger/plugins/__pycache__/
