.netrwhist

local/share/

config/discord/

config/newsboat/history.cmdline
config/newsboat/history.search
config/newsboat/cache.db
config/newsboat/cache.db.lock
config/newsboat/queue

config/ranger/__pycache__/
config/ranger/plugins/__pycache__/
